.balance-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;

  .balance-btn {
    background-color: #ffd166;
    color: #1a1a1a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ff6b6b;
    }

    &:active {
      background-color: #7ec8e3;
    }
  }

  .balance-details {
    margin-top: 20px;
    background-color: #333333;
    padding: 15px;
    border-radius: 8px;

    h3 {
      margin: 10px 0;
      font-size: 1.5em;
      font-weight: normal;
      color: #7ec8e3;
    }
  }
}